/*
** - Custom CSS
** - Theme defalut CSS
** - Navbar  CSS
** - Banner Section CSS
** - Why Choose Section CSS
** - Features Section CSS
** - Screenshots Section CSS 
** - How Use Section CSS
** - Price Section CSS
** - Testimonial Section CSS
** - Newsletter CSS
** - Footer Section CSS

** - Back To Top CSS
** - Preloader CSS
** - Animation CSS
*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* Font Variables */
$body-font:'Poppins', sans-serif;
$heading-font:'Open Sans', sans-serif;

/* Color Variables */
$body-color:#717477;
$heading-color:#0f2137;
$white-color:#ffffff;
$black-color:#000000;
$green-color:#37AF7C;
$green-dark-color: #2e9c71;
$violet-color-dark: #191a2f;
$violet-color-medium: #485592;
$violet-color-light: #dfe7ff;

$blue-color: #4183c1;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-shadow-light: rgba($black-color, .15);
$color-shadow-dark: rgba($black-color, .5);

//SHADOWS
$shadow-extra-small: 0 .5rem 1rem $color-shadow-light;
$shadow-small: 0 1rem 2rem $color-shadow-light;
$shadow-medium: 0 1.5rem 4rem $color-shadow-light;
$shadow-large: 0 2.5rem 4rem $color-shadow-dark;
$shadow-extra-large: 0 3rem 6rem $color-shadow-light;

body {
    color: $body-color;
    font-family: $body-font;
    line-height: 1.8;
    font-size: 16px;
    padding: 0;
    margin:0;

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #cbd7ef;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $green-color;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: lighten($green-color, 15%);
    }
}

/* Defalut CSS Start */
img {
    max-width: 100%;
}
a {
    transition: .5s;
    text-decoration: none;
    display: inline-block;
    font-family: $heading-font;
    color: $green-color;

    &:hover {
        text-decoration: none;
        color: darken($green-color, 15%);
    }
}
a:focus {
    text-decoration: none;
}
button {
    outline: 0 !important;
    box-shadow: none;
    border: none;
    background-color: transparent;
}
.form-control:focus {
    box-shadow: 0 0 0 0;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}
h1, h2, h3, h4, h5,h6 {
    font-family: $heading-font;
    color: $heading-color;
}
ul {
    list-style-type: none;
}
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.section-title {
    max-width:600px;
    margin:0 auto 60px;
    text-align: center;
    span {
        font-size: 16px;
        color: $green-color;
        font-weight: 700;
        display: inline-block;
        font-family: $heading-font;
        margin-bottom:15px;
        line-height: 1;
    }
    h2 {
        font-size: 38px;
        font-weight: 700;
        color:#343d48;
        margin-bottom: 25px;
    }
    p {
        margin-bottom: 0;
    }
}
/* Defalut CSS End */

/*----- App Landing Page Start -----*/
/* Navbar CSS Start */
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: auto;
    padding:30px 0 0;
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $white-color;
                font-family:$heading-font;
                margin:0 15px;
                padding:5px 0;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    background-color: $green-color;
                    width:0;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    transition: .5s;
                }

                &:hover::before {
                    width: 100%;
                }
            }

            .active::before {
                width: 100%;
            }
        }
    }

    .navbar-btn {
        font-size: 16px;
        background-color: $white-color;
        color: $violet-color-dark;
        font-family: $heading-font;
        font-weight: 600;
        border: 1px solid $white-color;
        padding: 5px 30px;
        border-radius: 80px;
        margin-left: 30px;

        transition: all 200ms;
        position: relative;

        &:hover {
            box-shadow: $shadow-small;

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(3px);
            box-shadow: $shadow-extra-small;
        }

        &::after {
            content: "";
            background-color: $white-color;
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all 400ms;
        }
    }
}
.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.36);
    background-color:$violet-color-dark;
    animation: .5s ease-in-out fadeInDown;

    .navbar-btn {
        background-color: $green-color;
        color: $white-color;
        border: none;

        &:active,
        &::after,
        &:hover::after {
            background-color: $green-color;
            color: white;
        }
    }
}
/* Navbar CSS End */

/* Sponsor Widget CSS Start */
.sponsor-widget {
    width: 320px;
    margin-top: 30px;

    &__fixed {
        position: fixed;
        bottom: 5%;
        left: 3%;
        width: auto;
    }

    display: flex;
    flex-direction: column;
    line-height: 1;

    background: $white-color;
    padding: 20px;
    box-shadow: $shadow-small;
    border-radius: 20px;
    z-index: 99;

    .sponsor-widget__title {
        display: inline-block;
        float: left;
    }

    .sponsor-widget__close {
        display: inline-block;
        float: right;
        font-size: 14px;
        cursor: pointer;
        margin-top: -10зч;
    }

    .sponsor-widget__content {
        display: flex;
        flex-direction: row;

        .sponsor-widget__details {
            ul {
                padding: 0;
                margin: 10px 0 0 10px;

                li {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    i, p {
                        display: inline-block;
                        margin: 0;
                        font-size: 14px;
                    }

                    i {
                        font-size: 12px;
                        margin-right: 3px;
                    }
                }
            }
        }

        .sponsor-widget__image {
            width: 55px;

            img {
                border-radius: 50px;
            }
        }
    }
}

/* Sponsor Widget CSS End */

/* Banner Section CSS Start */
.banner-bg-one {
    background-image: url(../img/app-landing/banner-bg.png);
}

.form {
    margin-top: 45px;

    &__group {
        display: inline-block;
        width: 45%;

        &:not(:last-child) {
            margin-bottom: 20px;
            margin-right: 10px;
        }
    }

    &__input {
        text-align: center;
        font-size: 16px;
        font-family: inherit;
        color: $color-gray-light-1;
        padding: 10px 30px;
        border-radius: 40px;
        background-color: rgba($white-color, .3);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: $shadow-small;
            border-bottom: 3px solid $green-color;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-gray-dark-2;
            margin-left: 20px;
        }
    }

    &__label {
        font-size: 12px;
        font-weight: 700;
        margin-top: 7px;
        margin-left: 20px;
        display: block;
        transition: all .3s;
        transform: translateY(-85px);
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-60px);
    }
}

.main-banner {
    position: relative;
    background-position: bottom;
    background-size: cover;
    height:900px;

    .banner-text {
        max-width: 650px;

        h1 {
            font-size: 60px;
            font-weight: 700;
            color: $white-color;
            margin-bottom: 30px;
        }

        p {
            color: $white-color;
            max-width: 600px;
            margin-bottom: 30px;
        }

        .banner-btn {
            margin-top: -50px;
            z-index: 1;

            a {
                color: $white-color;
                background-color: $green-color;
                font-weight: 600;
                padding: 10px 30px;
                border-radius: 80px;
                margin-right: 16px;
                box-shadow: 0 6px 13px rgba(0, 0, 0, 0.25) !important;
                width: 45%;
                text-align: center;
                z-index: 1;

                transition: all 200ms;
                position: relative;

                &:hover {
                    background-color: darken($green-color, 10%);
                    color: $white-color;
                    box-shadow: $shadow-small;

                    &::after {
                        transform: scaleX(1.4) scaleY(1.6);
                        opacity: 0;
                    }
                }

                &:active,
                &:focus {
                    outline: none;
                    transform: translateY(3px);
                    box-shadow: $shadow-extra-small;
                }

                &:not(.banner-video)::after {
                    content: "";
                    background-color: $green-color;
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    border-radius: 100px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: all 400ms;
                }
            }

            .banner-video {
                background: transparent;
                color: $white-color;
                padding: 0;
                box-shadow: 0 0 0 0 !important;

                i {
                    font-size: 35px;
                    top:7px;
                    position: relative;
                    left: -5px;
                }

                &:hover {
                    background: none;
                }
            }
        }
    }

    .banner-img {
        position:relative;
        z-index: 0;
        
        img {
            animation:translateY 10s infinite linear;
        }

        &::before {
            position: absolute;
            content: '';
            background-image: url(../img/shape/home-shape-three.png);
            background-position: center center;
            background-size: cover;
            width: 135px;
            height: 120px;
            left: 40px;
            top: -47px;
            z-index: -1;
            animation:translateX 6s infinite linear;
        }

        &::after {
            position: absolute;
            content: '';
            background: #d3c0fa;
            width: 150px;
            height: 150px;
            border-radius: 30px;
            right:-50px;
            bottom:-50px;
            z-index: -1;
            animation:translateX 6s infinite linear;
        }

        img {
            border-radius:25px;
            max-width: 350px;
        }
    }

    .banner-shape {
        img {
            position: absolute;
        }

        :nth-child(1) {
            top: 140px;
            left: -100px;
            width: 220px;
            animation:translateY 4s infinite linear;
            animation-delay: 1s;
        }

        :nth-child(2) {
            top: 0px;
            left: -25px;
            width: 100px;
            animation:translateY 4s infinite linear;
        }

        :nth-child(3) {
            right: 50px;
            top: 100px;
            animation:translateX 6s infinite linear;
        }
    }
}
/* Banner Section CSS End */

/* Why Choose Section CSS Start */
.why-choose {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        background-image: url(../img/map-two.png);
        background-position: center center;
        background-size: cover;
        right: 0;
        top: 125px;
        width: 250px;
        height: 310px;
        opacity: .5;
        animation:translateY 10s infinite linear;
    }

    .section-title {
        margin:0 0 60px;
        text-align: left;

        p {
            margin: 0;
        }
    }

    .why-choose-img {
        position: relative;

        &::before {
            position:absolute;
            content: '';
            width: 195px;
            height: 195px;
            background: #ffebc5;
            top:-50px;
            right:-55px;
            z-index: -1;
            border-radius: 50px;
            animation:translateY 5s infinite linear;
        }

        img {
            border-radius: 45px;
            width: 100%;
            animation:translateY 10s infinite linear;
        }
    }   

    .why-choose-text {

        .media {
            margin-bottom:55px;

            i {
                font-size: 35px;
                position: relative;
                color: $white-color;
                top: 30px;
                left: 25px;
                z-index: 0;
                line-height: 1;

                &::after {
                    position: absolute;
                    content: '';
                    width: 65px;
                    height: 65px;
                    top: -15px;
                    left: -16px;
                    background: linear-gradient(-40deg, rgba(201,71,118,1) 3%, rgba(229,79,79,1) 100%);
                    border-radius: 15px;
                    transform: rotate(45deg);
                    z-index: -1;
                }


                &.fa-graduation-cap {
                    &::after {
                        background: linear-gradient(0deg, $green-color 25%, $green-dark-color 100%);
                    }

                    &:before {
                        transform: translateX(-5px);
                        display: inline-block;
                    }
                }

                &.fa-user-chart {
                    &::after {
                        background: linear-gradient(0deg, lighten($violet-color-dark, 30%) 25%, lighten($violet-color-dark, 45%) 100%);
                    }

                    &:before {
                        transform: translateX(-5px);
                        display: inline-block;
                    }
                }

                &.flaticon-wallet {
                    &::after {
                        background: linear-gradient(0deg, rgba(231,160,26,1) 25%, rgba(254,196,84,1) 100%);
                    }
                }
            }

            .media-body {
                padding-left:55px;

                h3  {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
/* Why Choose Section CSS End */

/* Registers Section CSS Start */
.registers-section {
    background: #ecf2ff;

    .section-title {
        margin:0 0 60px;
        text-align: left;

        p {
            margin: 0;
        }
    }

    .registers-list {
        height: 280px;
        overflow:hidden;
        overflow-y:scroll;

        ul {
            margin-right: 10px;
        }
    }

    .registers-item {
        padding: 10px 20px;
        background: $white-color;
        border-radius: 50px;
        margin-bottom: 10px;

        span {
            margin: 0 5px;
        }
    }
}
/* Registers Section CSS End */

/* Software CSS Start */
.software-section {
    background: linear-gradient(to right bottom, $violet-color-dark, $violet-color-dark, #203458);
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-image: url(../img/map.png);
        opacity: .3;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .section-title {
        h2 {
            color: $white-color;
        }

        p {
            color: $white-color;
        }
    }

    .iframe-container {
        position: relative;
        width: 80%;
        padding-bottom: 50%;
        height: 0;
        margin: 50px auto 0;
    }

    .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-thumbnail{
        z-index:300;
        position:absolute;
        top:0;
        left:0;
        width:100%;
    }

    .software-img {
        position: relative;
        border-radius: 10px;
        margin-bottom: 30px;

        img {
            width: 100%;
        }

        .software-img-text {
            position: absolute;
            bottom: 0;
            left: 0;
            background:$white-color;
            width: 100%;
            padding: 25px 20px;
            border-radius: 0 0 10px 10px;

            img {
                max-width:40px;
            }

            p {
                margin-bottom: 0;
                position: absolute;
                top: 30px;
                left: 75px;
                font-size:18px;
                font-weight: 700;
                color: #3156d2;
            }
        }
    }

    .software-text {
        padding-left:20px;

        .nav-tabs {
            border-bottom:0;
            margin-bottom: 30px;

            li {
                padding: 0;
                background:none;

                a {
                    color:$white-color;
                    border:0;
                    border-bottom:3px solid transparent;
                    font-weight: 600;
                    padding: 0;

                    &.active {
                        border-bottom: 3px solid $white-color !important;
                        color: $white-color !important;
                    }
                }
            }
        }


        h2 {
            color: $white-color;
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 20px;
        }

        p {
            color: $white-color;
            margin-bottom:15px;
        }

        h3 {
            font-size: 22px;
            font-weight: 700;
            color: $white-color;
            margin-bottom:20px;
        }

        ul {
            padding-left: 0;
            margin-bottom: 40px;

            li {
                background: #84abeb;
                padding: 15px;
                display: inline-block;
                margin-right: 20px;
                border-radius: 10px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .software-link {
            color:#3454d1;
            background: $white-color;
            font-weight: 600;
            border-radius:30px;
            line-height: 1;
            padding: 15px 50px;
            border: 1px solid transparent;

            &:hover {
                border: 1px solid $white-color;
                color: $white-color;
                background: transparent;
            }
        }
    }

    .software-shape {
        img {
            position: absolute;
        }

        :nth-child(1) {
            bottom: 0;
            left: 0;
            width: 150px;
            transform: rotate(65deg);
        }

        :nth-child(2) {
            bottom: 50px;
            right: 100px;
        }

        :nth-child(3) {
            bottom: 165px;
            left: 0;
            transform: rotate(65deg);
            width: 90px;
        }

        :nth-child(4) {
            top: 0;
            right: 0;
            width: 100px;
        }
    }
}
/* Software CSS End */

/* Features Section CSS Start */
.feature-section {

    .feature-card {
        background: $white-color;
        border-radius: 20px 0 20px 0;
        text-align: center;
        padding: 65px 25px 35px;
        box-shadow: 7px 5px 30px rgba(72,73,121,.15);
        margin-bottom:30px;
        transition: .5s;

        &:hover {
            background: linear-gradient(to right bottom, $violet-color-dark, $blue-color);
        }

        &:hover i, &:hover h3, &:hover p {
            color: $white-color !important;
        }

        &:hover i::after {
            background: $green-color;
        }

        i {
            font-size: 30px;
            color: $violet-color-medium;
            margin-bottom:45px;
            display: inline-block;
            position: relative;
            z-index: 0;
            transition: all .5s;
            line-height: 1;

            &::after {
                position: absolute;
                content: '';
                width: 70px;
                height: 70px;
                background: $violet-color-light;
                top: -20px;
                left: -20px;
                z-index: -1;
                clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            }
        }

        h3 {    
            font-size: 22px;
            font-weight: 600;
            margin-bottom:10px;
            transition: .5s;
        } 
        
        p {
            margin-bottom:0;
            transition: .5s;
        }
    }

    .active {
        background: linear-gradient(to right bottom, $violet-color-dark, $blue-color);

        i, h3, p {
            color: $white-color;
        }

        i::after {
            background: $green-color;
        }
    }

    .feature-btn {
        margin: 60px auto 0 auto;

        a {
            color: #0f2137;
            border: 1px solid #0f2137;
            padding: 0 30px 0px;
            line-height:1;
            border-radius: 50px;
            margin-right:25px;

            i {
                top:15px;
                position: relative;
                left: 0;
                font-size:30px;
                line-height: 1;
            }

            p {
                margin: 0 0 10px;
                padding-left: 40px;
                font-size: 14px;
                font-family: $body-font;
                line-height: 0;
                top: -10px;
                position: relative;
            }

            h5 {
                margin: 0;
                padding-left: 40px;
                font-size: 17px;
                font-weight: 600;
                font-family: "Poppins", sans-serif;
                transition: .5s;
                top: -13px;
                position: relative;
            }

            &:hover {
                background: linear-gradient(0deg, $green-color 25%, $green-dark-color 100%);
                color: $white-color;
                border: 1px solid transparent;
            }

            &:hover h5 {
                color: $white-color;
            }
        }

        .active {
            background: linear-gradient(0deg, $green-color 25%, $green-dark-color 100%);
            color: $white-color;
            border: 1px solid transparent;
        }

        .active h5 {
            color: $white-color;
        }
    }
}
/* Features Section CSS End */

/* Screenshots Section CSS Start */
.screenshots-section {
    background:#e2f4fe;
    position: relative;
    padding-bottom: 90px;

    .section-title {
        max-width: 600px;
    }

    .screenshot-slider {
        .screenshoot-img {
            margin-bottom: 30px;

            img {
                border-radius:35px;
            }
        }

        .owl-stage {
            padding-top: 30px;
        }

        .center {
            margin-top: -30px;
            transition: 1s;

            img {
                box-shadow: 0px 12px 28px rgba(72, 73, 121, .1);
            }
        }

        .owl-dot {
            span {
                width: 5px;
                height: 5px;
                background: $green-color !important;
                margin: 0 3px;
                border-radius: 3px;
            }
        }

        .owl-dot.active {
            width:25px;
            background: $green-color !important;
            border-radius:5px;
        }
    }

    .screenshot-shape {
        img {
            position: absolute;
        }

        :nth-child(1){
            top: 40px;
            left: 100px;
            animation: translateX 10s infinite linear;
        }

        :nth-child(2){
            top:200px;
            left: 150px;
            animation: translateY 10s infinite linear;
        }

        :nth-child(3){
            top:100px;
            left:300px;
            animation: translateX 10s infinite linear;
        }

        :nth-child(4){
            right: 300px;
            top: 20px;
            animation: translateY 10s infinite linear;
        }

        :nth-child(5){
            right: 400px;
            top:270px;
            animation: translateX 10s infinite linear;
        }

        :nth-child(6){
            right: 100px;
            top:100px;
            animation: translateY 10s infinite linear;
        }
    }
}
/* Screenshots Section CSS End */

/* How Use Section CSS Start */
.how-use {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-image: url(../img/map-two.png);
        background-position: center center;
        background-size: cover;
        width:190px;
        height: 250px;
        top: 250px;
        left:0;
        opacity: .5;
    }

    .how-use-card {
        text-align: center;
        box-shadow: 7px 5px 30px rgba(72,73,121,.15);
        border-radius:20px;
        position: relative;
        padding: 45px 20px;
        margin-bottom:30px;
        background: $white-color;

        span {
            position: absolute;
            right: 25px;
            top: 10px;
            font-size: 30px;
            display: inline-block;
            font-weight: 700;
        }

        i {
            font-size: 60px;
            display: inline-block;
            margin-bottom:15px;
            line-height: 1;
        }

        h3 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 0;
        }
    }
    
    .how-card-one {
        h3 {
            font-size: 20px;
        }

        span {
            color: rgb(153, 214, 176);
        }

        i {
            background: linear-gradient(0deg, $green-color 25%, $green-dark-color 100%);
            background-clip: text;
            -moz-background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;
        }
    }

    .how-card-two {
        span {
            color: #f8e0b3;
        }

        i {
            background: linear-gradient(to top,rgba(231,160,25,1) 0%,rgba(253,194,81,1) 100%);
            background-clip: text;
            -webkit-text-fill-color:transparent;
            -moz-background-clip: text;
            -webkit-background-clip: text;
        }
    }

    .how-card-three {
        span {
            color: #9959fe;
        }

        i {
            background: linear-gradient(to top,rgba(138,80,229,1) 0%, rgba(153,89,255,1) 100%);
            background-clip: text;
            -webkit-text-fill-color:transparent;
            -moz-background-clip: text;
            -webkit-background-clip: text;
        }
    }

    .how-card-four {
        span {
            color: #a8ddf7;
        }

        i {
            background: linear-gradient(to top,rgba(1,180,237,1) 0%, rgba(8,153,231,1) 100%);
            background-clip: text;
            -webkit-text-fill-color:transparent;
            -moz-background-clip: text;
            -webkit-background-clip: text;
        }
    }

    .how-use-slider {
        position: relative;
        z-index: 0;

        &::before {
            position:absolute;
            content: '';
            width: 195px;
            height: 195px;
            background: #bfe8ff;
            top:-50px;
            left:-55px;
            z-index: -1;
            border-radius: 50px;
            animation:translateX 10s infinite linear;
        }

        &::after {
            position:absolute;
            content: '';
            background-image: url(../img/shape/pattern-two.png);
            background-position: center center;
            background-size: cover;
            width: 285px;
            height: 224px;
            right: -50px;
            bottom: 105px;
            z-index: -1;
            animation:translateY 10s infinite linear;
        }


        img {
            border-radius: 45px;
            width: 100%;
            
        }

        .owl-dot {
            span {
                width: 5px;
                height: 5px;
                background:$green-color !important;
                margin: 0 3px;
                border-radius: 3px;
            }
        }

        .owl-dot.active {
            width:25px;
            background:$green-color !important;
            border-radius:5px;
        }
    }
}
/* How Use Section CSS End */

/* Price Section CSS Start */
.pricing-section {
    padding-top: 70px;

    .plan-list {

        ul {
            padding-left: 0;
            margin-bottom: 60px;
            border: 0 ;
            display: inline-block;

            li {
                display: inline-block;

                a {
                    font-size: 16px;
                    font-family: $heading-font;
                    font-weight: 600;
                    color:#0898e7;
                    padding: 15px 35px;
                    border: 1px solid #0898e7;
                    cursor: pointer;
                    border-radius: 50px;
                    display: inline-block;
                    margin:0 5px;
                    transition: .5s;

                    &:hover {
                        background:#0898e7;
                        color: $white-color;
                        border: 1px solid transparent;
                    }
                }

                .active {
                    background:#0898e7;
                    color: $white-color;
                    border: 1px solid transparent;
                }
            }
        }
    }

    .price-card {
        padding: 16px;
        border: 1px solid $violet-color-light;
        border-radius:30px;
        text-align: center;
        box-shadow: 7px 5px 30px rgba(72,73,121,.15);
        transition: .5s;
        margin-bottom: 30px;

        &:hover {
            background-color: $green-color;
        }

        &:hover p, &:hover h3, &:hover .price-feature ul li, &:hover .price-feature ul li i {
            color: $white-color;
        }

        p {
            color: #343d48;
            font-size: 22px;
            font-family: $heading-font;
            font-weight: 600;
            margin-bottom: 0;
            line-height: 1;
            margin-bottom: 10px;
            transition: .5s;
        }

        h3 {
            font-size: 40px;
            font-weight: 300;
            color: $green-color;
            margin-bottom:30px;
            transition: .5s;

            span {
                font-size: 15px;
                font-weight: 400;
            }
        }

        .price-card__image {
            img {
                height: 100px;
                margin: 30px 0;
            }
        }

        .price-card__heading {
            &--white {
                color: #aaaaaa;
            }

            &--black {
                color: $violet-color-dark;
            }

            &--gold {
                color: #E1B34E;
            }

            &--titanium {
                color: #84ADD4;
            }
        }

        .price-feature {
            text-align: left;

            ul {
                margin-bottom: 40px;
                line-height: 1;
                margin-top: 30px;
                padding-left: 10px;

                li {
                    font-size: 14px;
                    color:#343d48;
                    margin-bottom: 20px;
                    transition: .5s;
                    display:block;

                    i {
                        color: $green-color;
                        transition: .5s;
                        font-size: 14px;
                        margin-right: 5px;
                    }
                }

                :nth-child(5),:nth-child(6),:nth-child(7),:nth-child(8) {
                    opacity: .5;
                }
                :last-child {
                    margin-bottom: 0;
                }
            }
        }

        .price-btn {
            z-index: 1;
            a {
                font-size: 16px;
                padding: 10px 40px;
                margin-bottom: 20px;
                color: $violet-color-dark;
                background: $white-color;
                font-weight: 600;
                border-radius: 50px;
                box-shadow: 7px 5px 30px rgba(72,73,121,.15);
                z-index: 1;

                transition: all 200ms;
                position: relative;

                &:hover {
                    box-shadow: $shadow-small;

                    &::after {
                        transform: scaleX(1.4) scaleY(1.6);
                        opacity: 0;
                    }
                }

                &:active,
                &:focus {
                    outline: none;
                    transform: translateY(3px);
                    box-shadow: $shadow-extra-small;
                }

                &::after {
                    content: "";
                    background-color: $white-color;
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    border-radius: 100px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: all 400ms;
                }
            }
        }
    }

    .business-class {
        .price-feature {
            ul {
                :nth-child(5),:nth-child(6) {
                    opacity: 1;
                }
                :nth-child(7),:nth-child(8) {
                    opacity: .5;
                }
            }
        }
    }

    .premium {
        .price-feature {
            ul {
                :nth-child(5),:nth-child(6),:nth-child(7),:nth-child(8) {
                    opacity: 1;
                }
            }
        }
    }

    .active-price {
        background:#05a3ea;
    }

    .active-price p,.active-price h3,.active-price .price-feature ul li, .active-price .price-feature ul li i {
        color: $white-color;
    }
}
/* Price Section CSS End */

/* Testimonial Section CSS Start */
.testimonial-section {
    position: relative;
    padding-bottom: 100px;

    .testimonial-img {
        position: relative;

        .client-img {
            img {
                border-radius: 50%;
                position: absolute;
                animation: pulse 4s infinite linear;
            }

            :nth-child(1) {
                top: 95px;
                left: 120px;
            }
            :nth-child(2) {
                bottom: 120px;
                left: 28%;
            }
            :nth-child(3) {
                top: 60px;
                left: 35%;
            }
            :nth-child(4) {
                left: 50%;
                top: 140px;
                max-width: 100px;
            }
            :nth-child(5) {
                right: 20%;
                top: 55px;
                width: 55px;
            }
            :nth-child(6) {
                right: 95px;
                bottom: 80px;
            }
        }
    }

    .testimonial-slider {
        position: relative;

        &::before {
            position: absolute;
            content: '\f110';
            font-size: 130px;
            font-family: Flaticon;
            top: -77px;
            right: 85px;
            color: #f7f7f7;
        }

        .testimonial-item {
            padding: 45px 90px 45px 0;

            img {
                margin-bottom:15px;
                width: 70px;
            }

            .client-info {
                margin-bottom: 20px;

                h3 {
                    margin-bottom: 0;
                    font-size: 20px;
                    color: $green-color;
                    font-weight: 600;
                }

                span {
                    font-size: 14px;
                    color: #818181;
                    font-family: $heading-font;
                }
            }

            p {
                max-width: 420px;
            }
        }
        .owl-prev, .owl-next {
            position: absolute;
            left: 0;
            bottom:-20px;
            width: 45px;
            height: 45px;
            border: 1px solid $green-color !important;
            font-size:14px;
            line-height: 45px;
            border-radius: 40px;
            text-align: center;
            color: $green-color !important;
            transition: .5s;

            &:hover{
                background:$green-color;
                color: $white-color !important;
            }
        }
        .owl-next {
            left:60px;
        }
    }

    .testimonial-shape {
        img {
            position: absolute;
            opacity: .1;
        }

        :nth-child(1) {
            top: 165px;
            right: 65px;
            animation:translateX 5s infinite linear;
        }

        :nth-child(2) {
            top: 0;
            left: 100px;
            animation:translateY 5s infinite linear;
        }

        :nth-child(3) {
            top: 55px;
            right: 235px;
            animation:translateX 5s infinite linear;
        }

        :nth-child(4) {
            top: 400px;
            right: 10px;
            animation:translateY 5s infinite linear;
        }

        :nth-child(5) {
            bottom: 55px;
            right: 200px;
            animation:translateX 5s infinite linear;
        }
    }
}
/* Testimonial Section CSS End */

/* Newsletter Section CSS End */
.newsletter {
    margin-bottom: -160px;
    z-index: 1;
    position: relative;

    .newsletter-area {
        background: linear-gradient(0deg, lighten($green-color, 10%) 25%, $green-color 50%);
        border-radius: 50px;
        padding: 70px;
        position: relative;

        .subscribe-shape {
            img {
                position: absolute;
            }

            :nth-child(1) {
                top: 0;
                right:100px;
                animation:translateX 10s infinite linear;
            }

            :nth-child(2) {
                top: 0;
                right:0;
                animation:translateX 15s infinite linear;
            }

            :nth-child(3) {
                top:100px;
                right:0;
                animation:translateY 5s infinite linear;
            }
        }

        .newsletter-text {
            padding-right: 35px;

            h3 {
                font-size: 28px;
                color: $white-color;
                font-weight: 600;
                margin-bottom: 22px;
            }
    
            p {
                color: $white-color;
                margin-bottom: 0;
            }
        }
    
        .newsletter-form {
            position: relative;
            .form-control {
                background: lighten($green-color, 20%);
                height: 50px;
                border: 0;
                border-radius: 30px;
                padding:0 20px;
                color: $white-color;
            }

            ::placeholder {
                color:$white-color;
                opacity:.9;
            }
    
            button {
                position: absolute;
                right: 0;
                top: 0;
                height: 50px;
                border-radius: 0 30px 30px 0;
                border: 0;
                color: $green-color;
                background: $white-color;
                font-weight: 600;
                padding: 0 50px;
                font-family: $heading-font;
                transition: .5s;
                border: 1px solid transparent;
                z-index: 1;

                &:hover {
                    background:$green-color;
                    color: $white-color;
                    border-left: 1px solid $white-color;
                }
            }
        }

        .validation-danger {
               color:$white-color;
        }

        #validator-newsletter {
            padding-left: 20px;
            margin-top: 5px;
        }
    }
}
/* Newsletter Section CSS End */

/* Footer Section CSS Start */
.footer-area {
    background:$violet-color-dark;
    padding-top: 265px;
    border-radius: 60px 60px 0 0;

    .footer-widget {

        .footer-logo {
            img {
                margin-bottom: 15px;
            }
        }

        p {
            color:$white-color;
            margin-bottom:30px;
        }

        .footer-link {
            display: flex;
            a {
                margin-right: 20px;
                
                &:hover img {
                    transform: scale(.9);
                }

                img {
                    transition: .5s;
                }
            }
        }

        h3 {
            color: $white-color;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        ul {
            padding-left: 0;
            line-height: 1;
            margin-bottom: 0;

            li {
                display: block;
                margin-bottom: 15px;
                transition: .5s;

                a {
                    color: $white-color;
                    transition: .5s;

                    &:hover {
                        color: #513fcb;
                        margin-left: 2px;
                    }

                    &:hover i {
                        color: #513fcb;
                    }

                    i {
                        font-size: 14px;
                        position: relative;
                        top: -2px;
                    }
                }

                i {
                    font-size: 10px;
                    position: relative;
                    top: -2px;
                    transition: .5s;
                    margin-right: 5px;
                }
            }

            :last-child {
                margin-bottom: 0;
            }
        }
    }

    .pl-90 {
        padding-left: 90px;
    }

    .copyright-area {
        border-top: 1px solid #373853;
        padding: 20px 0;
        margin-top: 100px;

        img {
            margin-right: 10px;
        }

        p {
            color: $white-color;
            margin-bottom: 0;
            text-align: center;

            a {
                color: $white-color;

                &:hover {
                    color: #165885;
                }
            }
        }

        .lh-1 {
            line-height: 1;
        }
    }
}
/* Footer Section CSS End */

/*----- App Landing Page End -----*/

/* Back To Top  CSS Start */
.top-btn {
    color: #000000;
    position: fixed;
    bottom:15px;
    right:15px;
    cursor: pointer;
    font-size:35px;
    z-index: 9;
    transform: rotate(-45deg);    
}
/* Back To Top  CSS End */

/* Preloader CSS Start */
.loader-content {
    background:#06a1e9;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    left: 0;
    top: 0;
    text-align: center;
}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}
  
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:$white-color;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    animation: sk-bounce 2.0s infinite ease-in-out;
}
  
.double-bounce2 {
    animation-delay: -1.0s;
}
  
@-webkit-keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
    }

    50% { 
        transform: scale(1.0);
    }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);

    } 

    50% { 
        transform: scale(1.0);
    }
}
/* Preloader CSS End */

/* Animation CSS Start */
@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes translateY {
    0% {
      transform: translateY(0px);
    }
  
    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes translateX {
    0% {
        transform: translateX(0px);
      }
    
      50% {
          transform: translateX(20px);
      }
  
      100% {
          transform: translateX(0px);
      }
}

@keyframes scale {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(.8);
    }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba($green-color, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(240, 52, 52, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(240, 52, 52, 0);
	}
}
/* Animation CSS End */